
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Specialists');"></div>
            <div class="carousel-caption">
                <h1>Reduce costs of finishing operations by 65%</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Wordlwide');"></div>
            <div class="carousel-caption">
                <h1>International Buyer Financing Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Since 1910');"></div>
            <div class="carousel-caption">
                <h1>Family Owned for Four Generations</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-4">
                <h3><i class="fa fa-check-circle"> Atención Psicológica Valparaíso</i> </h3>

<p> Bienvenido a Atención Psicológica Valparaíso un centro privado de salud mental al servicio de la comunidad en donde usted puede acceder a servicios especializados y de calidad, enfocado a las distintas demandas de atención psicológica dentro de un ambiente cálido y personal. </p>

                <img class="img-responsive" src="images/valpo1.jpg" style="margin-right:10px;float:left;width:412px;height:215px;border:1px solid black;">
<p>El trabajo psicoterapéutico nos ayuda a identificar los puntos de conflicto en nuestra vida y entorno relacional, para así poder aprender a afrontarlos de una forma beneficiosa y sana, dejando de repetir formas de sentir, percibir y actuar que nos perjudican tanto a nosotros como a quienes nos rodean.
<br /><br />
La psicoterapia abre  caminos para llegar a la génesis de nuestras dificultades, provee de un espacio seguro y de confianza donde seremos comprendidos y aceptados, permitiéndonos tomar las riendas de nuestras vidas de manera autónoma. Es un  camino enriquecedor lleno de sorpresas y oportunidades. 
<br /><br />
Una aventura hacia la profundidad de nuestro ser. </p>
<p> Como psicólogos esperamos ser de ayuda ofreciendo alternativas que satisfagan  sus necesidades para poder brindar un apoyo integral. Por este motivo les queremos ofrecer diversos servicios en el ámbito de la salud mental que se ajusten a sus necesidades. </p>


            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Nosotros</h2>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

<h3 class="text-left">Nuestra propia historia</h3>
<p>
 A menudo nos preguntamos ¿porqué psicología? y siempre llegamos a la conclusión que los que nos gusta de nuestra profesión es el poder ayudar a los demás. Entendemos que es un medio eficaz y científico para poder contribuir en el desarrollo de la gente. Cuando nos licenciamos en Barcelona (España) y después de trabajar en el ámbito comunitario y clínico decidimos exportar nuestros conocimientos hasta un horizonte mas lejano. 
Objetivo.
Nuestra acción va dirigida a que el paciente que acuda a nuestra consulta se sienta comprendido en su propia manera de pensar y ser para luego,  facilitarle las técnicas y recursos necesarios para solucionar aquellos conflictos o situaciones que no le permitan un completo desarrollo personal.
El objetivo es ayudar al desarrollo del paciente, aumentando su autonomía y bieniestar en un ambiente de comprensión y apoyo que le permita potenciar sus cualidades.
</p>
<br /> 

<h3 class="text-left">Objetivo</h3>
<p>
Nuestra acción va dirigida a que el paciente que acuda a nuestra consulta se sienta comprendido en su propia manera de pensar y ser para luego,  facilitarle las técnicas y recursos necesarios para solucionar aquellos conflictos o situaciones que no le permitan un completo desarrollo personal.
El objetivo es ayudar al desarrollo del paciente, aumentando su autonomía y bieniestar en un ambiente de comprensión y apoyo que le permita potenciar sus cualidades.
</p>
<br />

<h3 class="text-left">Método</h3>
<p>
Entendemos que la Psicología es una ciencia de todxs y, sobretodo, para todxs. En ese sentido trabajamos de manera ecléctica en las distintas disciplinas de la Psicología. Creemos que integrar las distintas técnicas que cada disciplina emplea es esencial para poder ser versátil y flexible en la medida de la problemática a tratar y de las necesidades del paciente. 
Alguna de nuestras maneras de trabajar obedecen a la cognitivo-conductual (con fuerte presencia en las universidades de España). Esta corriente se centra sobretodo en fobias, ataques de pánico, ansiedad generalizada..
</p>
<br />
<h3 class="text-left">Horarios de atención y precios</h3>
 
Lunes a Viernes:         09:00 - 20:00 hrs. <br /><br />
 
 
Psicoterapia Individual niños y adultos:                 13.000 pesos <br />
Psicoterapia de Pareja:                                        20.000 pesos <br />
Psicoterapia de grupos:                                        8.000 pesos por pesona(grupos mínimos de 4) <br />

            </div>
        </div>
    </div>
</div>
<!-- /.section-colored -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Quiénes somos?</h2>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 style="padding-left:0;margin-left:0">Adrián Gascón Álvarez</h2>
             <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-responsive" src="images/aga.jpg" style="border:1px solid black">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->
<hr />
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-responsive" src="images/albert.jpg" style="border: 1px solid black;">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="float:left">
                <h2 style="padding-left:0;margin-left:0">Alberto whatever whatever</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <p>
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Dónde estamos?</h2>
            </div>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
<iframe width="850" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?q=-33.045301,-71.622814&amp;num=1&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=-33.04531,-71.622705&amp;output=embed"></iframe><br /><small><a href="https://www.google.es/maps?q=-33.045301,-71.622814&amp;num=1&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=-33.04531,-71.622705&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>
        </div>
    </div>
</div>
<!-- /.section-colored -->
<!--
<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Display Some Work on the Home Page Portfolio</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

